<div class="card">
  <div *ngIf="product.imageUrl" class="ratio ratio-16x9">
    <img
      [src]="product.imageUrl"
      class="card-img-top object-fit-cover"
      alt="{{ product.title }}"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">
      {{ product.price | currency : "USD" }}
    </p>
  </div>
  <div *ngIf="showActions" class="card-footer">
    <button
      *ngIf="getQuantity() === 0; else updateQuantity"
      type="button"
      class="btn btn-secondary w-100"
      (click)="addToCart(product)"
    >
      Add to Cart
    </button>
    <ng-template #updateQuantity>
      <div class="d-flex align-items-center">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="decrementQty(product.productId)"
        >
          -
        </button>
        <span class="flex-grow-1 text-center">{{ getQuantity() }} in cart</span>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="incrementQty(product.productId)"
        >
          +
        </button>
      </div>
    </ng-template>
  </div>
</div>
