<div class="position-sticky">
  <div class="list-group">
    <a
      routerLink="/"
      class="list-group-item list-group-item-action"
      [class.active]="!categoryParam"
      >All Categories</a
    >
    <a
      *ngFor="let category of categories; index as i"
      routerLink="/"
      [queryParams]="{ category: category.value }"
      class="list-group-item list-group-item-action"
      [class.active]="categoryParam === category.value"
      aria-current="true"
    >
      {{ category.title }}
    </a>
  </div>
</div>
